name: Build OpenResty

on:
  workflow_dispatch:
    inputs:
      img_tag:
        description: "Docker image tag"
        required: true
        default: "latest"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Login to ALiYun Registry
        uses: docker/login-action@v3
        with:
          registry: registry.cn-shanghai.aliyuncs.com
          username: ${{ secrets.ALIYUN_REGISTRY_USERNAME }}
          password: ${{ secrets.ALIYUN_REGISTRY_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        env:
          img_name: openresty
          img_tag: ${{ github.event.inputs.img_tag }}
        with:
          push: true
          context: ./openresty
          file: ./openresty/Dockerfile
          platforms: linux/amd64
          tags: |
            dup4/${{ env.img_name }}:${{ env.img_tag }}
            registry.cn-shanghai.aliyuncs.com/dup4/${{ env.img_name }}:${{ env.img_tag }}
